[submodule "themes/davsk-hugo-theme"]
	path = themes/davsk-hugo-theme
	url = https://github.com/davsk/davsk-hugo-theme
[submodule "public"]
	path = public
	url = git@github.com:Huny-B-CBD-Oil/Huny-B-CBD-Oil.github.io.git
	branch = master
[submodule "content"]
	path = content
	url = git@github.com:Huny-B-CBD-Oil/web-content.git
	branch = master
